// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2025 Collabora Ltd.
 * Author: Louis-Alexis Eyraud <louisalexis.eyraud@collabora.com>
 */

#include "mt6365.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/spmi/spmi.h>
#include "mt8189-pinfunc.h"

/ {
	aliases {
		ethernet0 = &eth;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
		i2c8 = &i2c8;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		serial0 = &uart0;
	};

	chosen: chosen {
		stdout-path = "serial0:921600n8";
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* 2 MiB reserved for ARM Trusted Firmware (BL31) */
		bl31_secmon_reserved: memory@54600000 {
			reg = <0 0x54600000 0x0 0x200000>;
			no-map;
		};
	};

	/* system wide 4.2V power rail from charger */
	reg_vsys: regulator-vsys {
		compatible = "regulator-fixed";
		regulator-name = "vsys";
		regulator-always-on;
		regulator-boot-on;
	};

	/* used by PCIe Wi-Fi Module */
	reg_wifi_3v3: regulator-1 {
		compatible = "regulator-fixed";
		regulator-name = "wifi_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pio 79 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_3v3_en_pins>;
		vin-supply = <&reg_vsys>;
	};
};

&auxadc {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&mt6359_vmodem_buck_reg>;
};

&cpu1 {
	cpu-supply = <&mt6359_vmodem_buck_reg>;
};

&cpu2 {
	cpu-supply = <&mt6359_vmodem_buck_reg>;
};

&cpu3 {
	cpu-supply = <&mt6359_vmodem_buck_reg>;
};

&cpu4 {
	cpu-supply = <&mt6359_vmodem_buck_reg>;
};

&cpu5 {
	cpu-supply = <&mt6359_vmodem_buck_reg>;
};

&eth {
	phy-handle = <&eth_phy0>;
	phy-mode ="rgmii-rxid";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&eth_default_pins>;
	pinctrl-1 = <&eth_sleep_pins>;
	mediatek,mac-wol;
	snps,reset-delays-us = <0 10000 10000>;
	snps,reset-gpio = <&pio 135 GPIO_ACTIVE_LOW>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		eth_phy0: ethernet-phy@0 {
			compatible = "ethernet-phy-idc0ff.0421";
			reg = <0x0>;

			leds {
				#address-cells = <1>;
				#size-cells = <0>;

				/* LED_D5 */
				led@0 {
					reg = <0>;
					active-high;
					color = <LED_COLOR_ID_YELLOW>;
					default-state = "keep";
					function = LED_FUNCTION_LAN;
					function-enumerator = <0>;
				};

				/* LED_D6 */
				led@1 {
					reg = <1>;
					active-high;
					color = <LED_COLOR_ID_YELLOW>;
					default-state = "keep";
					function = LED_FUNCTION_LAN;
					function-enumerator = <2>;
				};

				/* LED_D7 */
				led@2 {
					reg = <2>;
					active-low;
					color = <LED_COLOR_ID_GREEN>;
					default-state = "keep";
					function = LED_FUNCTION_LAN;
					function-enumerator = <1>;
				};
			};
		};
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <1000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	status = "disabled";
};

&i2c4 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;
	status = "okay";
};

&i2c5 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pins>;
	status = "okay";
};

&i2c6 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
	status = "okay";
};

&i2c7 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7_pins>;
	status = "okay";
};

&i2c8 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_pins>;
	status = "okay";
};

&mmc0 {
	bus-width = <8>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	hs400-ds-delay = <0x1481b>;
	max-frequency = <200000000>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sdio;
	no-sd;
	non-removable;
	supports-cqe;
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_default_pins>;
	pinctrl-1 = <&mmc0_uhs_pins>;
	vmmc-supply = <&mt6359_vemc_1_ldo_reg>;
	vqmmc-supply = <&mt6359_vufs_ldo_reg>;
	status = "okay";
};

&mmc1 {
	bus-width = <4>;
	cap-sd-highspeed;
	cd-gpios = <&pio 2 GPIO_ACTIVE_HIGH>;
	max-frequency = <200000000>;
	no-mmc;
	no-sdio;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc1_default_pins>;
	pinctrl-1 = <&mmc1_uhs_pins>;
	vmmc-supply = <&mt6359_vpa_buck_reg>;
	vqmmc-supply = <&mt6359_vsim1_ldo_reg>;
	status = "okay";
};

&mt6359_va09_ldo_reg{
	regulator-name = "dvdd_sram_vadsp";
	regulator-always-on;
};

&mt6359_vaux18_ldo_reg {
	regulator-always-on;
};

&mt6359_vbbck_ldo_reg {
	regulator-always-on;
};

&mt6359_vcore_buck_reg {
	regulator-name = "dvdd_apu";
	regulator-always-on;
};

&mt6359_vgpu11_buck_reg {
	regulator-name = "dvdd_sram_core";
	regulator-always-on;
};

&mt6359_vmodem_buck_reg {
	regulator-name = "dvdd_proc_l";
	regulator-always-on;
};

&mt6359_vproc1_buck_reg {
	regulator-name = "vgpu";
};

&mt6359_vproc2_buck_reg {
	regulator-name = "dvdd_core";
	regulator-always-on;
};

&mt6359_vpu_buck_reg {
	regulator-name = "avdd075_emi";
	regulator-always-on;
};

&mt6359_vrf12_ldo_reg {
	regulator-name = "va12_abb2";
	regulator-always-on;
};

&mt6359_vrfck_ldo_reg {
	regulator-always-on;
};

&mt6359_vsram_md_ldo_reg {
	regulator-name = "dvdd_sram_proc_l";
	regulator-always-on;
};

&mt6359_vsram_proc1_ldo_reg {
	regulator-name = "vsram_gpu";
};

&mt6359_vsram_proc2_ldo_reg {
	regulator-name = "dvdd_sram_proc_b";
	regulator-always-on;
};

&mt6359_vsram_others_ldo_reg {
	regulator-name = "dvdd_sram_apu";
	regulator-always-on;
};

&mt6359_vufs_ldo_reg {
	regulator-always-on;
};

&pcie {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pcie_default_pins>;
	pinctrl-1 = <&pcie_sleep_pins>;
	status = "okay";
};

&pciephy {
	status = "okay";
};

&pio {
	eth_default_pins: eth-default-pins {
		pins-cc {
			pinmux = <PINMUX_GPIO127__FUNC_GBE_TXC>,
				 <PINMUX_GPIO130__FUNC_GBE_TXEN>,
				 <PINMUX_GPIO129__FUNC_GBE_RXDV>,
				 <PINMUX_GPIO128__FUNC_GBE_RXC>;
			drive-strength = <8>;
		};

		pins-mdio {
			pinmux = <PINMUX_GPIO131__FUNC_GBE_MDC>,
				 <PINMUX_GPIO132__FUNC_GBE_MDIO>;
			drive-strength = <8>;
			input-enable;
		};

		pins-power {
			pinmux = <PINMUX_GPIO133__FUNC_GPIO133>,
				 <PINMUX_GPIO134__FUNC_GPIO134>;
			output-high;
		};

		pins-rxd {
			pinmux = <PINMUX_GPIO123__FUNC_GBE_RXD3>,
				 <PINMUX_GPIO124__FUNC_GBE_RXD2>,
				 <PINMUX_GPIO125__FUNC_GBE_RXD1>,
				 <PINMUX_GPIO126__FUNC_GBE_RXD0>;
			drive-strength = <8>;
		};

		pins-txd {
			pinmux = <PINMUX_GPIO119__FUNC_GBE_TXD3>,
				 <PINMUX_GPIO120__FUNC_GBE_TXD2>,
				 <PINMUX_GPIO121__FUNC_GBE_TXD1>,
				 <PINMUX_GPIO122__FUNC_GBE_TXD0>;
			drive-strength = <8>;
		};
	};

	eth_sleep_pins: eth-sleep-pins {
		pins-cc {
			pinmux = <PINMUX_GPIO127__FUNC_GPIO127>,
				 <PINMUX_GPIO130__FUNC_GPIO130>,
				 <PINMUX_GPIO129__FUNC_GPIO129>,
				 <PINMUX_GPIO128__FUNC_GPIO128>;
		};

		pins-mdio {
			pinmux = <PINMUX_GPIO131__FUNC_GPIO131>,
				 <PINMUX_GPIO132__FUNC_GPIO132>;
			input-disable;
			bias-disable;
		};

		pins-rxd {
			pinmux = <PINMUX_GPIO123__FUNC_GPIO123>,
				 <PINMUX_GPIO124__FUNC_GPIO124>,
				 <PINMUX_GPIO125__FUNC_GPIO125>,
				 <PINMUX_GPIO126__FUNC_GPIO126>;
		};

		pins-txd {
			pinmux = <PINMUX_GPIO119__FUNC_GPIO119>,
				 <PINMUX_GPIO120__FUNC_GPIO120>,
				 <PINMUX_GPIO121__FUNC_GPIO121>,
				 <PINMUX_GPIO122__FUNC_GPIO122>;
		};
	};

	i2c0_pins: i2c0-pins {
		pins {
			pinmux = <PINMUX_GPIO52__FUNC_SDA0>,
				 <PINMUX_GPIO51__FUNC_SCL0>;
			bias-pull-up;
		};
	};

	i2c1_pins: i2c1-pins {
		pins {
			pinmux = <PINMUX_GPIO54__FUNC_SDA1>,
				 <PINMUX_GPIO53__FUNC_SCL1>;
			bias-pull-up;
		};
	};

	i2c2_pins: i2c2-pins {
		pins {
			pinmux = <PINMUX_GPIO56__FUNC_SDA2>,
				 <PINMUX_GPIO55__FUNC_SCL2>;
			bias-pull-up;
		};
	};

	i2c3_pins: i2c3-pins {
		pins {
			pinmux = <PINMUX_GPIO58__FUNC_SDA3>,
				 <PINMUX_GPIO57__FUNC_SCL3>;
			bias-pull-up;
		};
	};

	i2c4_pins: i2c4-pins {
		pins {
			pinmux = <PINMUX_GPIO60__FUNC_SDA4>,
				 <PINMUX_GPIO59__FUNC_SCL4>;
			bias-pull-up;
		};
	};
	i2c5_pins: i2c5-pins {
		pins {
			pinmux = <PINMUX_GPIO62__FUNC_SDA5>,
				 <PINMUX_GPIO61__FUNC_SCL5>;
			bias-pull-up;
		};
	};

	i2c6_pins: i2c6-pins {
		pins {
			pinmux = <PINMUX_GPIO64__FUNC_SDA6>,
				 <PINMUX_GPIO63__FUNC_SCL6>;
			bias-pull-up;
		};
	};

	i2c7_pins: i2c7-pins {
		pins {
			pinmux = <PINMUX_GPIO66__FUNC_SDA7>,
				 <PINMUX_GPIO65__FUNC_SCL7>;
			bias-pull-up;
		};
	};

	i2c8_pins: i2c8-pins {
		pins {
			pinmux = <PINMUX_GPIO68__FUNC_SDA8>,
				 <PINMUX_GPIO67__FUNC_SCL8>;
			bias-pull-up;
		};
	};

	mmc0_default_pins: mmc0-default-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO162__FUNC_MSDC0_CLK>;
			drive-strength = <6>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO166__FUNC_MSDC0_DAT0>,
				 <PINMUX_GPIO165__FUNC_MSDC0_DAT1>,
				 <PINMUX_GPIO164__FUNC_MSDC0_DAT2>,
				 <PINMUX_GPIO163__FUNC_MSDC0_DAT3>,
				 <PINMUX_GPIO159__FUNC_MSDC0_DAT4>,
				 <PINMUX_GPIO158__FUNC_MSDC0_DAT5>,
				 <PINMUX_GPIO157__FUNC_MSDC0_DAT6>,
				 <PINMUX_GPIO156__FUNC_MSDC0_DAT7>,
				 <PINMUX_GPIO161__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <6>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO160__FUNC_MSDC0_RSTB>;
			drive-strength = <6>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};
	};

	mmc0_uhs_pins: mmc0-uhs-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO162__FUNC_MSDC0_CLK>;
			drive-strength = <8>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO166__FUNC_MSDC0_DAT0>,
				 <PINMUX_GPIO165__FUNC_MSDC0_DAT1>,
				 <PINMUX_GPIO164__FUNC_MSDC0_DAT2>,
				 <PINMUX_GPIO163__FUNC_MSDC0_DAT3>,
				 <PINMUX_GPIO159__FUNC_MSDC0_DAT4>,
				 <PINMUX_GPIO158__FUNC_MSDC0_DAT5>,
				 <PINMUX_GPIO157__FUNC_MSDC0_DAT6>,
				 <PINMUX_GPIO156__FUNC_MSDC0_DAT7>,
				 <PINMUX_GPIO161__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <8>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-ds {
			pinmux = <PINMUX_GPIO167__FUNC_MSDC0_DSL>;
			drive-strength = <8>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO160__FUNC_MSDC0_RSTB>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};
	};

	mmc1_default_pins: mmc1-default-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO169__FUNC_MSDC1_CLK>;
			drive-strength = <6>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO170__FUNC_MSDC1_DAT0>,
				 <PINMUX_GPIO171__FUNC_MSDC1_DAT1>,
				 <PINMUX_GPIO172__FUNC_MSDC1_DAT2>,
				 <PINMUX_GPIO173__FUNC_MSDC1_DAT3>,
				 <PINMUX_GPIO168__FUNC_MSDC1_CMD>;
			input-enable;
			drive-strength = <6>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-insert {
			pinmux = <PINMUX_GPIO2__FUNC_GPIO2>;
			bias-pull-up;
		};
	};

	mmc1_uhs_pins: mmc1-uhs-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO169__FUNC_MSDC1_CLK>;
			drive-strength = <8>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO170__FUNC_MSDC1_DAT0>,
				 <PINMUX_GPIO171__FUNC_MSDC1_DAT1>,
				 <PINMUX_GPIO172__FUNC_MSDC1_DAT2>,
				 <PINMUX_GPIO173__FUNC_MSDC1_DAT3>,
				 <PINMUX_GPIO168__FUNC_MSDC1_CMD>;
			input-enable;
			drive-strength = <8>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	pcie_default_pins: pcie-default-pins {
		pins-bus {
			pinmux = <PINMUX_GPIO48__FUNC_WAKEN>,
				 <PINMUX_GPIO49__FUNC_PERSTN>,
				 <PINMUX_GPIO50__FUNC_CLKREQN>;
			bias-pull-up;
		};
	};

	pcie_sleep_pins: pcie-sleep-pins {
		pins {
			pinmux = <PINMUX_GPIO49__FUNC_PERSTN>;
			bias-disable;
			output-low;
		};
	};

	pcie_3v3_en_pins: pcie-3v3-en-pins {
		pins {
			pinmux = <PINMUX_GPIO79__FUNC_GPIO79>;
			output-high;
		};
	};

	uart0_pins: uart0-pins {
		pins {
			pinmux = <PINMUX_GPIO31__FUNC_UTXD0>,
				 <PINMUX_GPIO32__FUNC_URXD0>;
			bias-pull-up;
		};
	};

	uart1_pins: uart1-pins {
		pins {
			pinmux = <PINMUX_GPIO33__FUNC_UTXD1>,
				 <PINMUX_GPIO34__FUNC_URXD1>;
			bias-pull-up;
		};
	};

	uart2_pins: uart2-pins {
		pins {
			pinmux = <PINMUX_GPIO35__FUNC_UTXD2>,
				 <PINMUX_GPIO36__FUNC_URXD2>;
			bias-pull-up;
		};

		pins-rtscts {
			pinmux = <PINMUX_GPIO16__FUNC_UCTS2>,
				 <PINMUX_GPIO17__FUNC_URTS2>;
		};
	};

	uart3_pins: uart3-pins {
		pins {
			pinmux = <PINMUX_GPIO37__FUNC_UTXD3>,
				 <PINMUX_GPIO38__FUNC_URXD3>;
			bias-pull-up;
		};

		pins-rtscts {
			pinmux = <PINMUX_GPIO14__FUNC_UCTS3>,
				 <PINMUX_GPIO15__FUNC_URTS3>;
		};
	};
};

&pmic {
	interrupts-extended = <&pio 194 IRQ_TYPE_LEVEL_HIGH>;
	vsys-smps-supply = <&reg_vsys>;
	vsys-vcore-supply = <&reg_vsys>;
	vsys-vgpu11-supply = <&reg_vsys>;
	vsys-vgpu12-supply = <&reg_vsys>;
	vsys-vpa-supply = <&reg_vsys>;
	vsys-vproc1-supply = <&reg_vsys>;
	vsys-vproc2-supply = <&reg_vsys>;
	vsys-vpu-supply = <&reg_vsys>;
	vsys-vs1-supply = <&reg_vsys>;
	vsys-vs2-supply = <&reg_vsys>;
	vsys-vmodem-supply = <&reg_vsys>;
	vsys-ldo1-supply = <&reg_vsys>;
	vsys-ldo2-supply = <&reg_vsys>;
	vs1-ldo1-supply = <&mt6359_vs1_buck_reg>;
	vs1-ldo2-supply = <&mt6359_vs1_buck_reg>;
	vs2-ldo1-supply = <&mt6359_vs2_buck_reg>;
	vs2-ldo2-supply = <&mt6359_vs2_buck_reg>;

	keys {
		compatible = "mediatek,mt6365-keys", "mediatek,mt6359-keys";
		mediatek,long-press-mode = <1>;
		power-off-time-sec = <0>;

		power-key {
			linux,keycodes = <KEY_POWER>;
			wakeup-source;
		};

		home {
			linux,keycodes = <KEY_HOME>;
		};
	};
};

&spmi {
	/*
	 * MT6319 PMIC SID can change depending on the boards so add
	 * in this include file the nodes for the possible values,
	 * disabled by default to limit the code duplication.
	 */
	mt6319_sid6: pmic@6 {
		compatible = "mediatek,mt6319-regulator", "mediatek,mt6315-regulator";
		reg = <0x6 SPMI_USID>;

		pvdd1-supply = <&reg_vsys>;
		pvdd2-supply = <&reg_vsys>;
		pvdd3-supply = <&reg_vsys>;
		pvdd4-supply = <&reg_vsys>;

		status = "disabled";

		regulators {
			mt6319_sid6_vbuck1: vbuck1 {
				regulator-name = "dvdd_proc_b";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};

			vbuck3 {
				regulator-name = "vdd2h_emi";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};

			vbuck4 {
				regulator-name = "avddq_emi";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
		};
	};

	mt6319_sid7: pmic@7 {
		compatible = "mediatek,mt6319-regulator", "mediatek,mt6315-regulator";
		reg = <0x7 SPMI_USID>;

		pvdd1-supply = <&reg_vsys>;
		pvdd2-supply = <&reg_vsys>;
		pvdd3-supply = <&reg_vsys>;
		pvdd4-supply = <&reg_vsys>;

		status = "disabled";

		regulators {
			mt6319_sid7_vbuck1: vbuck1 {
				regulator-name = "dvdd_proc_b";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};

			vbuck3 {
				regulator-name = "vdd2h_emi";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};

			vbuck4 {
				regulator-name = "avddq_emi";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
		};
	};
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart3 {
	pinctrl-0 = <&uart3_pins>;
	pinctrl-names = "default";
	status = "okay";
};
